@font-face {
  font-family: KeepCalm;
  src: url(/fontes/KeepCalm-Medium.ttf);
}
h1#boas{
  text-align: center;
  color: rgb(73, 73, 73);
}

p{
  text-align: center;
  padding: 20px;
  font-size: 20pt;
}


div#butoes{
  margin: auto;
  display: inline-block;
  padding: 20px;
  margin-left: 200px;
  position: relative;
  bottom: 5px;
  }
  
  button#login{
  margin-top: 10px;
  }
  
  div#butoes button{
    width: 200px;
    font-weight: 900;
    font-size: 15pt;
    font-family: sans-serif;
    display: block;
    color: #e9e9e9;
    text-shadow: 1px 1px 1px black;
    background-color: #d3cece;
  }
  
  div#butoes button:hover{
    background-color: #a9a8af;
    color: #ffffff;
    transition: 0.15s;
  }
  
  div#butoes p{
    font-size: 15pt;
    font-family: sans-serif;
    margin-bottom: -20px;
    color:rgb(170, 170, 170);
  }
  
  header#cadastro h1{
  font-size: 70pt;
  font-family: KeepCalm, sans-serif;
  display: inline-block;
  
  }